include README.md
include LICENSE
include CHANGELOG.md
include SECURITY.md
include CONTRIBUTING.md
include requirements.txt
recursive-include lu77u_mobilesec *.py
recursive-include lu77u_mobilesec *.txt *.md *.yml *.yaml *.json
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
exclude tests/*
recursive-exclude * *.pyc
